/*General*/

body {
    width: 800px;
    margin: 0 auto;
    background-image: url("phone_globe.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/*Typography*/

p {
    text-align: left;
    color: darkviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1, h2 {
    text-align: center;
    color: darkred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Styling Products Display*/

img {
    align-content: center;
    border: 1px solid black;
    height:200px;
    width: 200px;
}

div {
    border: 5px solid black;
    display: flex;
}